.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    border-bottom: 1px solid #dee2e6;
}

.header-logo img {
    height: 60px;
    background-color: #007bff;
}
