.app {
    background-color: #e4e7ff;
    min-height: 1500px;

    .wrapper{
        background-color: aliceblue;
        max-width: 1200px;
        min-height: 1500px;
        margin: 0 auto;
    }
}
